/* Google fonts import */


/* Global settings for whole webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top level styles */




/* ######################### HEADER ######################### */

/* ######################### NAV BAR ######################## */

/* ###################### MAIN SECTIONS ##################### */

/* ######################### FOOTER ######################### */

/* ###################### GALLERY PAGE ###################### */

/* #################### TESTIMONIALS PAGE ################### */

/* ###################### CONTACT PAGE ###################### */



/* #################### MEDIA QUERIES ####################### */