/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* reset main defaults */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* ################## STYLE HEADER CONTENT ################# */
/* Style header popup menu */
#menu {
    list-style-type: none;
    text-decoration: none;
    color: #fafafa;
}

/* set defaults for body element*/
body {
    overflow: hidden;
    background-color: black;
    min-height: 100vh;
    font-family: "montserrat", sans-serif;
}

/* style header and fix position at top*/
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    right: 0px;
    overflow: hidden;
    z-index: 99;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;

}

#contact-button {
    text-align: right;
}

/* adjust heading font size*/
header h1 {
    font-size: 1em;
    color: #fafafa;
    font-family: "Freehand", sans-serif;
    text-align: center;
    margin: 0 auto;
}

/* turn off std link styles */
header a {
    text-decoration: none;
    color: #fafafa;
}

/* Display elements in 3 equal grids for header - keeps title in center even when right side changes*/
.grid {
    width: 100vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: stretch;
    align-items: center;
}

/* hide checkbox square */
#burger {
    display: none;
}

/* Override burger label color */
#burger-label {
    color: #fafafa;
    font-size: 1.3em;
}

/* setup popup menu and hide it */
/* Credit to Code Institue Love Running tutorial for this menu functionality */

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 140px;
    top: 50px;
    left: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #fafafa;
    border-radius: 5px;
    font-size: 1em;
    text-align: left;
    z-index: 98;
    display: none;
    line-height: 40px;
}

/* style mouse over menu items in bold */
.hover:hover {
    background: white;
    color: black;
    cursor: pointer;
}

/* show the link menu when user clicks burger */
#burger:checked~nav {
    display: block;
}

/* hide large contact me button on phone displays */
header #large-contact-button {
    display: none;
}

#contact-button:hover {
    font-size: 1.1em;
    cursor: pointer;
}

#burger-label:hover {
    font-size: 1.4em;
    cursor: pointer;
}

/* ################## STYLE MAIN CONTENT #################### */
/* place main content between header and footer at fixed size */
main {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

/* section one at top of page */
#photos {
    background-color: black;
    background: url("../images/portrait17.webp") no-repeat center center/cover;
    height: 100vh;
}

/* Place doen arrow to encourage scroll down */

#intro-text {
    text-transform: capitalize;
    color: #fafafa;
    position: absolute;
    top: 60%;
    left: 40px;
}

#arrow-down {
    color: #fafafa;
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 2.5em;
}

/* style About section for phone size (media query for larger) */
#about-section {
    position: relative;
    width: 100%;
    padding: 10px;
    color: #fafafa;
    max-width: 768px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgba(60, 60, 60, 0.7)
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    text-align: justify;
}

.circle {
    position: relative;
    overflow: hidden;
}

.circle.selfie {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 50%;
    margin: 10px;
}

.circle img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

#signature {
    font-family: "Freehand", sans-serif;
    text-align: right;
    padding-right: 30px;
}

/* ################## STYLE FOOTER CONTENT #################### */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0px;
    height: 50px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    color: #fafafa;
    margin-right: 5px;
    border-top: 2px solid rgba(60, 60, 60, 0.8)
}

/* divs to contain media link for flex spacing*/
footer div {
    /* min-width: 50px;
    min-height: 50px; */
    text-align: center;
    font-size: 1.5em;
    margin-left: 5px;
}

/* turn off std link styles */
footer a {
    text-decoration: none;
    color: #fafafa;
}

#copyright {
    margin-top: 8px;
}

footer a:hover {
    font-size: 1.1em;
}


/* HIDE LARGE COPYRIGHT ON PHONE SCREEN */
#long-copyright {
    display: none;
}

/* #################### CLASSES ###################### */
/* main class to spread divs insider header and footer */
.spread-horiz {
    display: flex;
    flex-direction: row;
    flex: 0 1 Auto;
    justify-content: space-between;
    /* line-height: 50px; */
    text-align: center;
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    line-height: 50px;
}

/* delete me if not needed - style for icons on left*/
.foot-spacing {
    display: flex;
    flex-direction: row;
    flex: 0 1 Auto;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 2px;
    align-self: flex-end;
}

/* class to highlight selected menu item in bold*/
.selected {
    font-weight: bold;
}

.hide-me {
    display: none;
}

/* ################ GALLERY PAGE ########################################## */

.image-rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

/* setup 1 column - expand in media query */
.image-column {
    flex: 100%;
    max-width: 100%;
    padding: 0 5px;
    display: inline-block;
    overflow: hidden;
}

.image-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.picture-hover:hover {
    border: 2px solid rgba(255, 255, 255, 0.8);
    /* transition: filter 0.25s ease; */
}

/* ################ TESTIMONIALS PAGE ########################################## */

#section-background {
    background: url("../images/testimonials-bg.webp") no-repeat center center/cover;
}

/* style heading */
#feedback {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
}

#scroll-window {
    border-radius: 15px;
    margin: 10px auto;
    width: 80%;
    height: 350px;
    background-color: rgba(60, 60, 60, 0.7);
    overflow-x: hidden;
    overflow-y: auto;
}

#scroll-window p {
    color: #fafafa;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}

/* ################ CONTACT PAGE ########################################## */
/* set background for section containing form and set height*/
#contact {
    background: url("../images/contact-bg.jpg") no-repeat center center/cover;
    height: 100vh;
}

/* position form fixed on page */
#contact-form {
    color: #fafafa;
    position: absolute;
    margin-left: 10px;
    margin-right: 20px;
    top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(60, 60, 60, 0.7);
    border-radius: 15px;
    width: 92%;
    padding: 10px;
}

#submit-button {
    padding: 2px 10px;
    border-radius: 5px;
    border: 2px solid;
    background: none;
    color: #fafafa;
    font-size: 100%;
}

#submit-button:hover {
    border: 2px solid black;
    background: white;
    color: black;
    cursor: pointer;
}

form input:hover,
form textarea:hover {
    border: 2px solid rgb(170, 0, 0);
}

/* style title of form*/
#contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

/* no effect - check into this ........ */
#form #form-feedback {
    width: 300px;
    margin: 10px;
}

/* space text inputs*/
form input {
    margin: 5px 5px 10px 10px;
}

/* ###########################################################################*/
/* ########################### MEDIA QUERIES #################################*/
/* ###########################################################################*/

/* Media query: tablets and larger (768px and up) */
/* start text around bio foto circle early */
@media screen and (min-width: 350px) {

    .circle .selfie {
        shape-outside: circle();
    }
}

@media screen and (min-width: 768px) {

    /* create equal grid of 3 to space burger, title and contact link evenly */
    header {
        display: inline-grid;
        grid-template-columns: 33% 33% 33%;
    }

    #large-contact-button {
        text-align: right;
    }

    #title {
        text-align: center;
    }

    /* increase size of Webpage Title*/
    header h1 {
        font-size: 1.5em;
    }

    /* hide the small envelope button on large screens */
    #contact-button {
        display: none;
    }

    /* show larger contact me button */
    header #large-contact-button {
        display: block;
        background: none;
    }

    /* style large contact button*/
    .large-button {
        padding: 2px 10px;
        border-radius: 5px;
        border: 2px solid;
        background: none;
        color: #fafafa;
        font-size: 100%;
    }

    /* invert color of contact button on mouse over and change cursor */
    .large-button:hover {
        border: 2px solid black;
        background: white;
        color: black;
        cursor: pointer;
    }

    #intro-text {
        font-size: 2em;
    }

    /* Center about section for wider screens */
    #about-section {
        margin: 0 auto;
        margin-top: 10px;
    }

    /* Adjust Footer changes */
    #short-copyright {
        display: none;
    }

    footer #long-copyright {
        display: block;
    }

    /* ################ GALLERY PAGE MEDIA QUERIES ################################# */
    /* setup 2 columns */
    .image-column {
        flex: 50%;
        max-width: 50%;
        padding: 0 5px;
    }

    /* ################ TESTIMONIAL PAGE MEDIA QUERIES ################################# */

    /* Move everything down on larger screen and adjust size of scroll box */
    /* style heading */
    #feedback {
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: center;
        color: #fafafa;
        text-transform: uppercase;
    }

    #scroll-window {
        margin: 10px auto;
        width: 50%;
        height: 350px;
    }

    #scroll-window p {
        color: #fafafa;
        padding: 5px;
        margin-bottom: 60px;
    }

    /* ################ CONTACT PAGE MEDIA QUERIES################################# */
    #contact-form {
        position: absolute;
        margin-left: 10px;
        margin-right: 20px;
        left: 100px;
        top: 70px;
        width: 350px;
        padding: 10px;
    }

}

@media screen and (min-width: 992px) {

    /* add normal nav links with big enough screen */
    /* turn off burger on large screen*/
    #burger-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    nav {
        /* position: unset; */
        display: grid;
        grid-column-start: 1;
        top: 5px;
        border: none;
        background: none;
        width: 400px;
    }

    nav li {
        display: inline;
        border: 1px solid #fafafa;
        margin-right: 5px;
        padding: 2px 10px;
        border-radius: 5px;
        border: 2px solid;
        background: none;
        color: #fafafa;
        font-size: 100%;
    }

    /* ensure title stays in middle grid on large screen*/
    #title {
        display: grid;
        grid-column-start: 2;
    }

}

@media screen and (min-width: 1200px) {

    /* setup 4 column  */
    .image-column {
        flex: 25%;
        max-width: 25%;
        padding: 0 5px;
    }
}